.birdbox {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: aqua;
    justify-content: center;
}

.instruction {
    margin-right: 110px;
}

#game {
    margin: 20px 0px 0px 50px;
}

.holder {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 30px;
}